.heading {
  text-align: center;
  margin: 50px 0 25px;
}

.container {
  column-count: 3;
  max-width: 1000px;
  margin: 0 auto 50px;
}

.container p:first-of-type:first-letter {
  color: var(--primary-color-dark);
  float: left;
  font-size: 72px;
  padding: 12px 8px 0 4px;
}

@media (max-width: 1000px) {
  .container {
    column-count: 1;
    margin: 0 40px 50px;
  }
}