.container {
  background-color: var(--primary-color);
  color: white;
  display: grid;
}

.container blockquote {
  max-width: 1000px;
  margin: auto;
}

.container blockquote::before {
  content: open-quote;
  display: block;
  font-size: 64px;
  font-weight: bold;
}

.container blockquote::after {
  content: close-quote;
  margin-left: 100%;
  font-size: 64px;
  font-weight: bold;
}

.container p {
  color: white;
}

.title {
  color: white;
  text-align: center;
  margin: 50px 0 0;
}