:root {
  --primary-color: hsl(352, 58%, 60%);
  --primary-color-dark: hsl(352, 58%, 45%);
  --bg-color: hsl(0, 0%, 98%);
  --shadow-color: hsla(0, 0%, 30%, 40%);
  --text-color: hsl(0, 0%, 40%);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 56px;
  margin: 0;
  color: var(--primary-color-dark);
}

h3 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 42px;
  color: var(--primary-color-dark);
}

h4 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 28px;
  color: var(--primary-color-dark);
}

p {
  font-family: 'Roboto Slab';
  color: var(--text-color);
  line-height: 1.2;
  margin: 0 0 15px 0;
  font-size: 20px;
}

ul {
  font-family: 'Roboto Slab';
  font-size: 20px;
  color: var(--text-color);
}

section, main, html {
  background-color: var(--bg-color);
}